@using Microsoft.AspNetCore.Authorization
@using DAChuyenNganh.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/lib/jQuery-EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/lib/jQuery-EasyUI/themes/icon.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/lib/jQuery-EasyUI/jquery.easyui.min.js"></script>
    <script src="~/app/controllers/product/quantity-management.js"></script>
    <script src="~/app/controllers/product/image-management.js"></script>
    <script src="~/app/controllers/product/whole-price-management.js"></script>
    <script src="~/app/controllers/product/index.js"></script>
    <script>
        var product = new productController();
        product.initialize();
    </script>
}
<div class="page-title">
    <div class="title_left" style="padding-top:10px;">
        <div class="col-md-7 col-sm-7 col-xs-12 form-group pull-left">
            <h3>Quản lý sản phẩm</h3>
        </div>
        <div class="col-md-5 col-sm-12  form-group pull-right">
            @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
            {
                <button id="btnCreate" class="btn btn-success">Thêm mới sản phẩm</button>
            }
            </div>
    </div>

    <div class="title_right">
        <div class="col-md-8 col-sm-8 col-xs-12 form-group pull-right">

            <div class="input-group">
                <input type="text" id="txtKeyword" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="btnSearch" type="button">Tìm kiếm!</button>
                </span>
            </div>
        </div>
        <div class="col-md-4 col-sm-12  form-group pull-right">
            <select class="form-control" id="ddlCategorySearch">
                <option>--Tìm kiếm sản phẩm--</option>
            </select>
        </div>

    </div>
</div>
<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <table class="table table-bordered">
                    <thead>
                        <tr>

                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th width="13%">Đơn giá</th>
                            <th width="10%">Hình ảnh</th>
                            <th width="15%">Ngày tạo</th>
                            <th width="10%">Trạng thái</th>
                            <th width="20%">#</th>
                        </tr>
                    </thead>
                    <tbody id="tbl-content"></tbody>
                </table>
                <!--Pagination-->
                <div class="row">
                    <div class="col-sm-6" style="margin-top:20px;">
                        <div class="dataTables_info" id="datatable-checkbox_info" role="status" aria-live="polite">
                            <select id="ddlShowPage">
                                <option value="10" selected="selected">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="50">50</option>
                            </select>
                            <span class="item-per-page">
                                bản ghi/trang.
                            </span>
                            Tổng số bản ghi: <strong id="lblTotalRecords"></strong>
                        </div>
                    </div><div class="col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="datatable-checkbox_paginate">
                            <ul id="paginationUL"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script id="table-template" type="x-tmpl-mustache">
    <tr>

        <td>{{Name}}</td>
        <td>{{CategoryName}}</td>
        <td>{{Price}}.VND</td>
        <td>{{{Image}}}</td>
        <td>{{CreatedDate}}</td>
        <td>{{{Status}}}</td>
        <th scope="row">
     @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
     {
    <div class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-sm btn-edit" type="button"id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{Id}}"><i class="fa fa-pencil"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <p>Sửa sản phẩm</p>
                </div>
    </div>
     }
      @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
      {
    <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle btn-sm btn-delete" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{Id}}"><i class="fa fa-trash"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                <p>Xóa sản phẩm</p>
                </div>
    </div>
      }
       @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
       {
    <div class="dropdown" style="padding-right:30px;">
            <button class="btn btn-warning dropdown-toggle btn-sm btn-images" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{Id}}"><i class="fa fa-image"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu4">
                <p>Quản lý hình ảnh</p>
                </div>
    </div>
       }
        @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
        {
    <div class="dropdown">
            <button class="btn btn-info dropdown-toggle btn-sm btn-quantity" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{Id}}"><i class="fa fa-hourglass-start"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
                <p>Quản lý số lượng</p>
                </div>
    </div>
        }
         @if ((await AuthorizationService.AuthorizeAsync(User, "USER", Operations.Update)).Succeeded)
         {
    <div class="dropdown">
            <button class="btn btn-success dropdown-toggle btn-sm btn-whole-price" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-id="{{Id}}"><i class="fa fa-money"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu6">
                <p>Quản lý giá bán</p>
                </div>
    </div>
         }
        </th>
    </tr>
</script>
<partial name="_AddEditModal.cshtml" />
<partial name="_QuantityManagement.cshtml" />
<partial name="_ImageManagement.cshtml" />
<partial name="_WholePriceManagement.cshtml" />

@*@Html.Partial("_AddEditModal.cshtml")
    @Html.Partial("_QuantityManagement.cshtml")
    @Html.Partial("_ImageManagement.cshtml")
    @Html.Partial("_WholePriceManagement.cshtml")*@