@{
    ViewData["Title"] = "Blog";
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Blog</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="blog_post">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">
                <ul class="blog-posts">
                    <li class="post-item wow fadeInUp">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="entry-thumb image-hover2">
                                        <a href="blog_single_post.html">
                                            <figure><img src="~/client-side/images/blog1.jpg" alt="Blog"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="entry-title"><a href="blog_single_post.html">Luôn luôn phù hợp với tất cả</a></h3>
                                    <div class="entry-meta-data"> <span class="author"> <i class="pe-7s-user"></i>&nbsp; by: <a href="#">Admin</a></span> <span class="cat"> <i class="pe-7s-folder"></i>&nbsp; <a href="#">News, </a> <a href="#">Promotions</a> </span> <span class="comment-count"> <i class="pe-7s-comment"></i>&nbsp; 3 </span> <span class="date"><i class="pe-7s-date"></i>&nbsp; 2017-08-05</span> </div>
                                    <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>
                                    <div class="entry-excerpt">cảm ơn tất cả các bạn đã tin tưởng và mua sắm sản phẩm của chúng tôi.</div>
                                    <div class="entry-more"> <a href="#" class="button"> Continus reading &nbsp; <i class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item wow fadeInUp">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="entry-thumb image-hover2">
                                        <a href="blog_single_post.html">
                                            <figure><img src="~/client-side/images/blog2.jpg" alt="Blog"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="entry-title"><a href="blog_single_post.html">Bất kì đâu</a></h3>
                                    <div class="entry-meta-data"> <span class="author"> <i class="pe-7s-user"></i>&nbsp; by: <a href="#">Admin</a></span> <span class="cat"> <i class="pe-7s-folder"></i>&nbsp; <a href="#">News, </a> <a href="#">Promotions</a> </span> <span class="comment-count"> <i class="pe-7s-comment"></i>&nbsp; 3 </span> <span class="date"><i class="pe-7s-date"></i>&nbsp; 2017-08-05</span> </div>
                                    <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>
                                    <div class="entry-excerpt">Cảm ơn các bạn về bức ảnh, tôi mong các bạn có những trải nghiệm tuyệt vời.</div>
                                    <div class="entry-more"> <a href="#" class="button"> Continus reading &nbsp; <i class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="sortPagiBar">
                    <div class="pagination-area ">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</section>