@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul>
                    <li class="home"> <a title="Go to Home Page" href="/">Home</a><span>&raquo;</span></li>
                    <li><strong>Blog</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<section class="blog_post">
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-12" id="center_column">                
                <ul class="blog-posts">                                     
                    <li class="post-item wow fadeInUp">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="entry-thumb image-hover2">
                                        <a href="blog_single_post.html">
                                            <figure><img src="images/blog-img1.jpg" alt="Blog"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="entry-title"><a href="blog_single_post.html">Aliquam Et Metus Pharetra, Bibendum Massa</a></h3>
                                    <div class="entry-meta-data"> <span class="author"> <i class="pe-7s-user"></i>&nbsp; by: <a href="#">Admin</a></span> <span class="cat"> <i class="pe-7s-folder"></i>&nbsp; <a href="#">News, </a> <a href="#">Promotions</a> </span> <span class="comment-count"> <i class="pe-7s-comment"></i>&nbsp; 3 </span> <span class="date"><i class="pe-7s-date"></i>&nbsp; 2017-08-05</span> </div>
                                    <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>
                                    <div class="entry-excerpt">Donec Vitae Hendrerit Arcu, Sit Amet Faucibus Nisl. Cras Pretium Arcu Ex. Aenean Posuere Libero Eu Augue Condimentum Rhoncus. Praesent Ornare Tortor Donec Vitae Hendrerit Arcu, Sit Amet Faucibus Nisl.</div>
                                    <div class="entry-more"> <a href="#" class="button"> Continus reading &nbsp; <i class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="post-item wow fadeInUp">
                        <article class="entry">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="entry-thumb image-hover2">
                                        <a href="blog_single_post.html">
                                            <figure><img src="images/blog-img1.jpg" alt="Blog"></figure>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <h3 class="entry-title"><a href="blog_single_post.html">Aliquam Et Metus Pharetra, Bibendum Massa</a></h3>
                                    <div class="entry-meta-data"> <span class="author"> <i class="pe-7s-user"></i>&nbsp; by: <a href="#">Admin</a></span> <span class="cat"> <i class="pe-7s-folder"></i>&nbsp; <a href="#">News, </a> <a href="#">Promotions</a> </span> <span class="comment-count"> <i class="pe-7s-comment"></i>&nbsp; 3 </span> <span class="date"><i class="pe-7s-date"></i>&nbsp; 2017-08-05</span> </div>
                                    <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div>
                                    <div class="entry-excerpt">Donec Vitae Hendrerit Arcu, Sit Amet Faucibus Nisl. Cras Pretium Arcu Ex. Aenean Posuere Libero Eu Augue Condimentum Rhoncus. Praesent Ornare Tortor Donec Vitae Hendrerit Arcu, Sit Amet Faucibus Nisl.</div>
                                    <div class="entry-more"> <a href="#" class="button"> Continus reading &nbsp; <i class="fa fa-angle-double-right"></i></a> </div>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="sortPagiBar">
                    <div class="pagination-area ">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</section>